.componentHeader{
  background-color: #4762A8;
  display: flex;
  flex-direction: row;
  height: 50%;
};

.containerBody{
  display: flex;
  flex-direction: column;
}

.componentHeader h1{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36pt;
  margin-top: 5%;
}

.componentHeader h2{
  color: #FFFFFF;
  font-size: 24pt;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

.componentHeader img { 
  border-radius: 150px;
  max-width: 300;
  max-height: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;

}

