.containerHomePage button{
  background-color: #4762A8;
  color: #FFFFFF;
  font-size: 18pt;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
  outline: none;
  border-radius: 50px;
  padding: 1%;
}

.containerHomePage HeaderHome{
  height: 100%;
}