.containerSobreMim h1{
  background-color: #4762A8;
  height: 10%;
  color: #FFFFFF;
  font-size: 18pt;
  padding: 2%;
}
.containerSobreMim h2{
  color: #4762A8;
  font-size: 18pt;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.containerSobreMim img{ 
  height: 400px;
  border-radius: 50px;

}
.containerSobreMim div{
  display: flex;
  flex-direction: row;
}

.containerSobreMim button{
  outline: none;
  background-color: #4762A8;
  color: #FFFFFF;
  font-size: 18pt;
  border-radius: 50px;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.containerButtons button{
  outline: none;
  background-color: #4762A8;
  color: #FFFFFF;
  font-size: 18pt;
  border-radius: 50px;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.containerButtons div{
  display: inline;
  justify-content: center;
  align-items: center;
}